<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Recently_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{121,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,35}}</string>
                <key>sourceSize</key>
                <string>{121,35}</string>
            </dict>
            <key>determine_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,339},{191,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,87}}</string>
                <key>sourceSize</key>
                <string>{191,87}</string>
            </dict>
            <key>determine_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,251},{191,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,87}}</string>
                <key>sourceSize</key>
                <string>{191,87}</string>
            </dict>
            <key>dice_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,85},{81,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{81,94}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>dice_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,444},{105,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,118}}</string>
                <key>sourceSize</key>
                <string>{105,118}</string>
            </dict>
            <key>login_area_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{371,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,81}}</string>
                <key>sourceSize</key>
                <string>{371,81}</string>
            </dict>
            <key>login_choose_server_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{114,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,65}}</string>
                <key>sourceSize</key>
                <string>{114,65}</string>
            </dict>
            <key>login_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,373}}</string>
                <key>sourceSize</key>
                <string>{640,373}</string>
            </dict>
            <key>login_name_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,339},{82,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,58}}</string>
                <key>sourceSize</key>
                <string>{82,58}</string>
            </dict>
            <key>login_state_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,168},{81,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{81,88}</string>
            </dict>
            <key>login_welcome_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,399},{133,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,72}}</string>
                <key>sourceSize</key>
                <string>{133,72}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,212},{275,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,125}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
            <key>start_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,85},{275,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,125}}</string>
                <key>sourceSize</key>
                <string>{275,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c789bdbd1299b66c8810077078294c38$</string>
            <key>textureFileName</key>
            <string>login_all.png</string>
        </dict>
    </dict>
</plist>
