<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chet.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{55,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{55,75}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>keyboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,110},{40,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{40,33}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,103},{40,39}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,39}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>music_button_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>music_button_light_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,59},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,52}</string>
            </dict>
            <key>music_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,67},{46,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,41}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>talkboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,63}}</string>
                <key>sourceSize</key>
                <string>{82,63}</string>
            </dict>
            <key>talkboard_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,63}}</string>
                <key>sourceSize</key>
                <string>{82,63}</string>
            </dict>
            <key>voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,67},{34,41}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>voice_keyboardchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settingandchet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:302218f73ac9b9bc7fc7542619330fdc$</string>
            <key>textureFileName</key>
            <string>settingandchet.png</string>
        </dict>
    </dict>
</plist>
